.Navbar {
    position: fixed;
    background-color: rgb(35, 57, 115);
    width: 100vw;
    height: 88px;
    max-height: 20%;
    left: 0;
    top: 0;
    z-index: 10;
    min-width: 600px;
}

.Logo {
    position: absolute;
    height: 95%;
    width: fit-content;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.Logo img {
    height: 100%;
    width: auto;
}

.NavLinks {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top : 50%;
    right : 12%;
    height: fit-content;
    transform: translateY(-50%);
    min-width: 60%;
}

.NavLinks button {
    padding: 0 0 0 0;
    background-color: transparent;
    border-color: transparent;
    
}


.NavLink {
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.2vw;
    letter-spacing: 0.04em;
    margin-left: 20px;
    margin-right: 20px;
    text-wrap: nowrap;
}

.Navbar .ContactUs {
    position: absolute;
    width : 12%;
    height: 60%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5%;
    background-color:rgb(19, 129, 204);
    color:white;
    text-wrap: nowrap;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center
}

@media (max-width: 1023px) and (pointer: coarse) and (hover: none) {
    .Navbar {
        position: fixed;
        background-color: rgb(35, 57, 115);
        width: 100vw;
        height: 88px;
        max-height: 20%;
        left: 0;
        top: 0;
        z-index: 10;
        min-width: 0;
    }

    .Logo {
        position: absolute;
        height: 70%;
        width: fit-content;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }

    .NavLinks {
        position: absolute;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        top : 50%;
        right : 35%;
        height: fit-content;
        transform: translateY(-50%);
        width: 30%;
        min-width: 0;
        min-height: 90%;
    }

    .NavLinks button {
        padding: 0 0 0 0;
    }


    .NavLink {
        color: white;
        font-family: "Montserrat", serif;
        font-weight: 500;
        font-size: 3vw;
        letter-spacing: 0.04em;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-wrap: nowrap;
        padding: 0 0 0 0;
    }

    .Navbar .ContactUs {
        position: absolute;
        width : 20%;
        height: 7vw;
        font-size: 2.5vw;
        border-radius: 50px;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5%;
        background-color:rgb(19, 129, 204);
        padding-left: 0;
        padding-right: 0;
        color:white;
        text-wrap: nowrap;
        
    }
}

@media (max-width: 1439px) and (min-width : 1024px) and (pointer: coarse) and (hover: none) {


}